html {
    
}
body{ 
    width: 1360px;
    height: auto;
color: whitesmoke;
    margin: auto;
}
/*Strip the ul of padding and list styling*/
ul {
list-style-type:none;
margin:0;
padding:0;
position: absolute;
}
/*Create a horizontal list with spacing*/
li {
display:inline-block;
float: left;
margin-right: 1px;
}
/*Style for menu links*/
li a {
display:block;
min-width:168px;
height: 50px;
text-align: center;
line-height: 50px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #fff;
background: #E00777;
text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
background: rgba(19,148,91,.8);
}
/*Style for dropdown links*/
li:hover ul a {
background: whitesmoke;
color: black;
height: 40px;
line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
background: #e00777;
color: whitesmoke;
}
/*Hide dropdown links until they are needed*/
li ul {
display: none;
}
/*Make dropdown links vertical*/
li ul li {
display: block;
float: none;
}
/*Prevent text wrapping*/
li ul li a {
width: auto;
min-width: 128px;
padding: 0 20px;
}
/*Display the dropdown on hover*/

ul li a:hover + .hidden, .hidden:hover {
display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
color: #fff;
background: #078459;
text-align: center;
padding: 10px 0;
display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
display: block;
}

/*Responsive Styles*/
@media screen and (max-width : 760px){
/*Make dropdown links appear inline*/
ul {
position: static;
display: none;
}
/*Create vertical spacing*/
li {
margin-bottom: 1px;
}
/*Make all menu links full width*/
ul li, li a {
width: 100%;
}
/*Display 'show menu' link*/
.show-menu {
display:block;
}
}


#logo {
	width:845px;
	height:100px;
	background-color:whitesmoke;
    border: 1px solid brown;
}

#back {
	margin:10px 300px;
}

#footer {
	width:845px;
	height:50px;
	background-color:whitesmoke;
    float: inherit
}
#banner {
    width:845px;
	height:380px;
	background-color:whitesmoke;
    margin-left: 0px;
    margin-top: 20px;
    display: grid;
    justify-content: space-around;
    }
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

.banner {
   margin-top: 50px;
    width: 845px;
    height: 845px;
    border: 1px solid brown;
    opacity: 100%;
}
#txt {
    text-align: center;
    width: 100px;
    color: black;
    margin-left: 372.5px;
    font-size: 20px;
   
}
.vdo {
    margin-top: 20px;
}

h1 {
    color: brown;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}
p {
    color: #E00777;
    text-align: center;
}
p:hover {
    text-decoration-color: firebrick;
}
.logout {
    width: 843px;
    display: grid;
    text-align: center;
  }

button {
    background-color: #F3720A;
    width: 170px;
    height: 20px;
    color: darkslategray;
    border-radius: 5px;
    text-align: center;
}
button:hover {
        background-color: #071984;
    color: whitesmoke;
}
h3 {
    margin-top: 70px;
    color: #E00777;
}